body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #000;
  color: #fff;
}

header {
  background-color: #111;
  border-bottom: 2px solid gold;
}

.top-banner {
  background-color: gold;
  color: #000;
  text-align: center;
  padding: 5px 0;
  font-size: 14px;
  font-weight: bold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

nav a {
  color: #fff;
  margin-left: 20px;
  text-decoration: none;
  font-weight: 500;
}

nav a.btn {
  background-color: gold;
  color: #000;
  padding: 6px 12px;
  border-radius: 6px;
}

.hero {
  text-align: center;
  padding: 80px 20px;
  background: radial-gradient(circle, #222, #000);
}

.hero h2 {
  font-size: 2em;
  color: gold;
}

.productos {
  text-align: center;
  padding: 40px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 20px;
}

.producto {
  background-color: #111;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px #222;
}

.producto img {
  width: 100%;
  border-radius: 10px;
}

.producto h4 {
  color: gold;
}

.botones a {
  display: inline-block;
  margin: 5px;
  padding: 6px 12px;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

a.ver {
  background-color: #fff;
  color: #000;
}

a.comprar {
  background-color: gold;
  color: #000;
}

footer {
  background-color: #111;
  padding: 15px;
  text-align: center;
  color: #aaa;
  font-size: 14px;
}

.detalle-producto {
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
  gap: 30px;
}

.detalle-producto img {
  max-width: 350px;
  border-radius: 10px;
}

.detalle-producto .info {
  max-width: 300px;
}

.detalle-producto select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 8px;
}

.pedido {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #000;
}

.confirmacion {
  text-align: center;
  border: 2px solid gold;
  padding: 30px;
  border-radius: 15px;
}

